.j{
    margin-top: 14%;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    
}
.b{
   background-image: url(); 
   background-repeat: no-repeat;
   background-size: cover;
}
.H1{
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin-top: 5%;
}
